<h2 class="content-block">Clientes</h2>
<div class="content-block">

    <div>

        <form>
            <dx-form>
                <dxi-item itemType="button">
                    <dxo-button-options width="100%" type="default" [useSubmitBehavior]="false"
                        [template]="'CREAR CLIENTE'" [onClick]="onCreateUserClick">
                    </dxo-button-options>
                </dxi-item>
            </dx-form>
        </form>

        <div class="dx-card responsive-paddings">

            <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true" keyExpr="id"
            [repaintChangesOnly]="true" (onSaving)="onSaving($event)">

                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true" ></dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxi-column type="buttons" [width]="110">
                    <dxi-button name="edit"></dxi-button>
                    <dxi-button name="delete"></dxi-button>
                </dxi-column>

                <!-- <dxi-column dataField="id" ReadOnly="true" [width]="500" [hidingPriority]="2" >{{dataSource}}</dxi-column> -->
                <dxi-column dataField="nombres" [width]="500" [hidingPriority]="2">{{dataSource}}</dxi-column>
                <dxi-column dataField="apellidos" [width]="500" [hidingPriority]="2">{{dataSource}}</dxi-column>
                <dxi-column dataField="edad" [width]="" [hidingPriority]="2">{{dataSource}}</dxi-column>
            </dx-data-grid>
        </div>
    </div>