<h2 class="content-block">Bienvenidos Sistema de Facturacion</h2>
<div class="content-block">

  <div class="dx-card responsive-paddings">

    <div class="dx-card responsive-paddings">
      <h2 class="content-block">Lista Ventas Por Producto Por Año</h2>
      <dx-data-grid id="gridContainer" [dataSource]="getViewVentaPorProductoAno" [showBorders]="true" keyExpr="id"
        [repaintChangesOnly]="true">

        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxi-column dataField="nombre_producto" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
        <dxi-column dataField="cant_Vendido" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
        <dxi-column dataField="valor_und" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
        <dxi-column dataField="total_venta" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
        <dxi-column dataField="fecha_compra" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
      </dx-data-grid>
    </div>
  </div>


  <div class="dx-card responsive-paddings">

    <div class="dx-card responsive-paddings">
      <h2 class="content-block">Lista Productos</h2>
      <dx-data-grid id="gridContainer" [dataSource]="listaDatasource" [showBorders]="true" keyExpr="id"
        [repaintChangesOnly]="true">

        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <!-- <dxi-column dataField="id" ReadOnly="true" [width]="500" [hidingPriority]="2" >{{dataSource}}</dxi-column> -->
        <dxi-column dataField="id" [hidingPriority]="2">{{listaDatasource}}</dxi-column>
        <dxi-column dataField="nombre_producto" [hidingPriority]="2">{{listaDatasource}}</dxi-column>
        <dxi-column dataField="valor_und" [hidingPriority]="2">{{listaDatasource}}</dxi-column>
      </dx-data-grid>
    </div>


  </div>

  <div class="dx-card responsive-paddings">

    <div class="dx-card responsive-paddings">
      <h2 class="content-block">Lista Clientes No Mayores 35 Años</h2>
      <dx-data-grid id="gridContainer" [dataSource]="getViewClienteNoMayor" [showBorders]="true" keyExpr="id"
        [repaintChangesOnly]="true">

        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <!-- <dxi-column dataField="id" ReadOnly="true" [width]="500" [hidingPriority]="2" >{{dataSource}}</dxi-column> -->
        <dxi-column dataField="nombres" [hidingPriority]="2">{{listaDatasource}}</dxi-column>
        <dxi-column dataField="apellidos" [hidingPriority]="2">{{listaDatasource}}</dxi-column>
        <dxi-column dataField="edad" [hidingPriority]="2">{{listaDatasource}}</dxi-column>
        <dxi-column dataField="fecha_compra" [hidingPriority]="2">{{listaDatasource}}</dxi-column>
      </dx-data-grid>
    </div>


  </div>

  <div class="dx-card responsive-paddings">

    <div class="dx-card responsive-paddings">
      <h2 class="content-block">Lista Promedio Compra Por Cliente</h2>
      <dx-data-grid id="gridContainer" [dataSource]="getViewPromedioCompra" [showBorders]="true" keyExpr="id"
        [repaintChangesOnly]="true">

        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxi-column dataField="nombres" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
        <dxi-column dataField="apellidos" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
        <dxi-column dataField="media_dias" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
        <dxi-column dataField="fecha_proxima_compra" [hidingPriority]="2">{{getViewPromedioCompra}}</dxi-column>
      </dx-data-grid>
    </div>
  </div>

  



</div>